a {
    text-decoration: none;
    color: black; 
}
.danhsachsanpham .sanpham {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 180px;
    height: 250px;
    border: 1px solid #ececec;
    margin: 5px;
}
.danhsachsanpham .sanpham .anhsp {
    text-align: center;
    height: 150px;
}
.danhsachsanpham .sanpham .anhsp img {
    height: 150px;
    object-fit: contain;
    padding: 5px 0;
    max-width: 100%;
}

.danhsachsanpham .sanpham .tensanpham {
    max-height: 250px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;

}

.gia s {
    color: red;
    font-size: 11px;
}

.gia .giamoi {
    font-weight: 500;
}
.danhsachsanpham .sanpham .sukien {
    text-align: right;
    padding: 5px 0;
}
.danhsachsanpham .sanpham .sukien div {
    position: relative;
    display: inline-block;
}

.danhsachsanpham .sanpham .sukien div .giam {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #F44336;
    right: 5px;
    top: 5px;
    font-size: 12px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20px;
    font-weight: 500;
}
.danhsachsanpham .sanpham .sukien img {
    height: 30px;
}


.thongtinsanpham {
    display: grid;
    grid-template-columns: 3.5fr 6.5fr;
    gap: 15px;
}

.thongtinsanpham .anhsp img {
    width: 100%;
    object-fit: contain;
}

.thongtinsanpham .hanhdong {
    margin: 5px 0;
    color: rgb(254, 254, 254);
    font-weight: bold;
    outline: none;
}

.icon-page {
    padding: 15px;
}